#
# This file is mechanically generated.  Manual edits will most likely be lost.  So don't do it.
#
SP	SPACE TEMP	70
SP	SPACE RH	50
SP	SPACE TEMP DELTA HIGH	1
SP	SPACE TEMP DELTA LOW	-2
SP	SPACE RH DELTA	2
SP	COOLING DEADBAND	1
SP	HEATING DEADBAND	1
SP	DEHUM DEADBAND	1
SP	SPACE RH TEMP DELTA	1
SP	COOLING SETPOINT DELAY	5
SP	HEATING SETPOINT DELAY	5
SP	DEHUM SETPOINT DELAY	5
SP	AHU FAN DELAY PRE COOLING	3
SP	AHU FAN DELAY POST COOLING	5
SP	AHU FAN DELAY PRE HEATING	2
SP	AHU FAN DELAY POST HEATING	4
SP	MODE SWITCH DELAY	10
SP	SPACE TEMP	70
SP	SPACE RH	50
SP	SPACE TEMP DELTA HIGH	1
SP	SPACE TEMP DELTA LOW	-2
SP	SPACE RH DELTA	2
SP	COOLING DEADBAND	1
SP	HEATING DEADBAND	1
SP	DEHUM DEADBAND	1
SP	SPACE RH TEMP DELTA	1
SP	COOLING SETPOINT DELAY	5
SP	HEATING SETPOINT DELAY	5
SP	DEHUM SETPOINT DELAY	5
SP	AHU FAN DELAY PRE COOLING	3
SP	AHU FAN DELAY POST COOLING	5
SP	AHU FAN DELAY PRE HEATING	2
SP	AHU FAN DELAY POST HEATING	4
SP	MODE SWITCH DELAY	10
SP	SPACE TEMP	70
SP	SPACE RH	50
SP	SPACE TEMP DELTA HIGH	1
SP	SPACE TEMP DELTA LOW	-2
SP	SPACE RH DELTA	2
SP	COOLING DEADBAND	1
SP	HEATING DEADBAND	1
SP	DEHUM DEADBAND	1
SP	SPACE RH TEMP DELTA	1
SP	COOLING SETPOINT DELAY	5
SP	HEATING SETPOINT DELAY	5
SP	DEHUM SETPOINT DELAY	5
SP	AHU FAN DELAY PRE COOLING	3
SP	AHU FAN DELAY POST COOLING	5
SP	AHU FAN DELAY PRE HEATING	2
SP	AHU FAN DELAY POST HEATING	4
SP	MODE SWITCH DELAY	10
# EOF
